@import "../../scss/constants.scss";

.__theme-dark {
  background-color: $dark-theme-background;
  color: $dark-theme-color;
}

.__theme-light {
  background-color: $light-theme-background;
  color: $light-theme-color;
}
