.query-input-form {
  min-width: 250px;
  flex: 1;
  margin-right: 20px;
}

.query-input-box {
  height: 30px;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  border: 1px solid #cccccc;
  width: 100%;
}
