.user-rules-body {
  padding-top: 47px;
  height: calc(100vh - 47px);
}

.user-rules-options-wrapper {
  display: flex;
  /* justify-content: flex-end; */
  padding: 15px;
}

.user-rules-button-wrapper {
  margin-left: auto;
}

.user-rules-global-search {
  font-size: 13px;
  padding: 9px;
  width: 22rem;
  border-radius: 5px;
  border: solid 1px #dfdfdf;
}
