@import "../../scss/constants.scss";

.reactivesearch-date {
  margin-bottom: 25px;

  > div {
    > div {
      border: none;
    }
  }
}

.reactivesearch-input {
  margin-bottom: 15px;

  > input {
    height: 30px;
    background: #ffff;
    font-size: 11px !important;
    border-radius: 5px;
  }

  > h2 {
    font-size: 0.9em !important;
    font-weight: 500;
  }

  > ul > li {
    height: 25px;
    min-height: 25px;
    font-size: 12px;

    > label > span {
      padding-right: 15px;
    }

    > label::before {
      width: calc(12px + 1px);
      height: 12px;
    }

    > label::after {
      top: 9px;
      left: calc(1px + 0px / 2);
    }
  }
}

.reactivesearch-multilist {
  margin-bottom: 25px;
}

.filter-list {
  margin-bottom: 20px;

  > a {
    font-size: 11px !important;
  }
}

.DayPickerInput-OverlayWrapper {
  font-size: 11px;
}

.DayPickerInput {
  > input {
    padding: 8px 5px !important;
    height: 30px !important;
    font-size: 11px !important;
    border: 1px solid #cccccc !important;
    border-radius: 5px !important;
  }
}

.__theme-dark {
  .filter-list-wrapper {
    > div > a {
      background-color: $dark-theme-alt;
      color: $dark-theme-color;

      > span {
        border: none;
      }
    }
  }

  .reactivesearch-input {
    > input {
      background-color: $dark-theme-background;
      color: $dark-theme-color;
      border-color: $dark-theme-alt;
    }

    > div > div {
      border-color: $dark-theme-border;
      border: none;
    }

    .DayPickerInput {
      > input,
      input:focus {
        border: $dark-theme-border;
        background-color: $dark-theme-background;
        color: $dark-theme-color;
        border: 1px solid $dark-theme-alt !important;
      }
    }

    .DayPickerInput-OverlayWrapper {
      color: black;
    }

    > h2 {
      color: $dark-theme-title;
    }
  }
}
