body {
  font-family: 'Oswald', sans-serif !important;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  min-width: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.on-demand-left {
  left: 0;
  /* padding: 15px 15px 15px 15px; */
}

/* Control the right side */
.on-demand-right {
  right: 0;
  /* background-color: #ffffff; */
  /* padding: 15px 15px 15px 15px; */
}

.right-pane-container {
  padding: 40px 60px 40px 40px;
}

/* If you want the content centered horizontally and vertically */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* Style the image inside the centered container, if needed */
/* .centered img {
  width: 150px;
  border-radius: 50%;
} */

.on-demand-tag-wrapper {
  display: table;
  width: 100%;
}

.on-demand-tag {
  box-sizing: border-box;
  margin-left: 2px;
  margin-right: 2px;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  min-height: 38px;
  outline: 0 !important;
  font-size: 15px;
  padding-left: 10px;
  width: 100%;
  /* min-width: 350px; */
  /* display: flex; */
  display: table-cell;
}

.on-demand-tag-label {
  display: table-cell;
  width: 73px;
}

.on-demand-tag:focus {
  border-color: #1c7ce4;
  border-width: 2px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 0.7 !important;
}

.on-demand-dropdown-label {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  width: 65px;
}