body {
  font-family: 'Oswald', sans-serif !important;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  min-width: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.on-demand-left {
  left: 0;
  /* padding: 15px 15px 15px 15px; */
}

/* Control the right side */
.on-demand-right {
  right: 0;
  /* background-color: #ffffff; */
  /* padding: 15px 15px 15px 15px; */
}

.right-pane-container {
  padding: 40px 60px 40px 40px;
}

@media (max-width: 950px) {
  .split {
    position: static;
  }

  .on-demand-right,
  .on-demand-left {
    width: 95%;
  }

  .on-demand-left {
    max-height: 450px;
  }

  .right-pane-container {
    min-height: 600px;
  }
}

.on-demand-tag-wrapper {
  display: table;
  width: 100%;
}

.on-demand-tag {
  box-sizing: border-box;
  margin-left: 2px;
  margin-right: 2px;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  min-height: 38px;
  outline: 0 !important;
  font-size: 15px;
  padding-left: 10px;
  width: 100%;
  /* min-width: 350px; */
  /* display: flex; */
  display: table-cell;
}

.job-spec-input {
  margin-bottom: 10px;
}

.on-demand-tag-label {
  display: table-cell;
  width: 73px;
}

.on-demand-tag:focus {
  border-color: #1c7ce4;
  border-width: 2px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 0.7 !important;
}

.on-demand-dropdown-label {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  width: 65px;
}

.jobspecs-dropdown-label {
  /* float: left; */
  margin-top: 10px;
  /* margin-bottom: 10px; */
  /* margin-right: 10px; */
  width: 65px;
}

.on-demand-submit-wrapper {
  margin-left: 50px;
  margin-right: 50px;
}

.on-demand-submit-button {
  background-color: #4288ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  margin-bottom: 25px;
}

.on-demand-submit-button-disabled {
  background-color: #4288ff;
  opacity: 0.5;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  margin-bottom: 25px;
}

.on-demand-submit-button:hover {
  transition: background-color 0.4s ease-out;
  background-color: #0a45a4;
}