/* required styles for leaflet */
h1,
h2,
p {
  text-align: center;
}

.map-container {
  margin-bottom: 15px;
}

.leaflet-container {
  height: 600px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.map-coordinates-textbox {
  min-width: 80%;
  border: 1px solid #b2b2b2;
  display: block;
  font-size: 0.85em;
  margin: 0 auto;
  min-height: 80px;
}