h1,
h2,
p {
  text-align: center;
}

.leaflet-map {
  width: 95%;
  height: inherit;
  margin: 0 auto;
}

.map-coordinates-textbox {
  min-width: 93%;
  max-width: 93%;
  min-height: 90px;
  border: 1px solid #b2b2b2;
  display: block;
  margin: 0 auto;
  font-size: 0.85em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !important;
}

.leaflet-tooltip {
  white-space: normal;
}

.leaflet-popup-content {
  word-break: break-word;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: none;
}

.toggle-map-btn {
  margin-bottom: 10px;
}