.utility-button {
  background-color: #4288ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
}

.scroll-top-button {
  position: fixed;
  height: 50px;
  top: 0px;
  right: 0px;
  opacity: 0.5;
  background: none;
  border: none;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  z-index: 999;
  -webkit-transition: opacity 0.25s;
}

.scroll-top-button:hover {
  opacity: 1;
}
