.utility-button {
  background-color: #4288ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
}

.utility-button:hover {
  transition: background-color 0.2s;
  background-color: #1f54b0;
}

.scroll-top-button {
  position: fixed;
  height: 50px;
  /* top: 0px; */
  bottom: 5px;
  right: 0px;
  opacity: 0.5;
  background: none;
  border: none;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  z-index: 999;
  /* -webkit-transition: opacity 0.25s; */
}

.submit-button {
  background-color: #4288ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  min-width: 100px;
  margin: 10px;
}

.submit-button:focus {
  outline: 0;
}

.scroll-top-button:hover {
  opacity: 1;
}

.disabled {
  opacity: 0.5;
}

.query-checker-button {
  background: #48a748;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
}

.query-checker-button:focus {
  outline: 0;
}

.query-checker-button:hover {
  transition: background-color 0.2s;
  background: #1a711a;
}

.active:hover {
  transition: background-color 0.2s;
  background-color: #1f54b0;
}
