@import "../../style/global.css";

.button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 13px;
}

.button-small {
  border: none;
  border-radius: 5px;
  padding: 7px 12px;
  font-size: 12px;
  height: 30px;
  min-width: 75px;
}

.button-large {
  border: none;
  border-radius: 5px;
  padding: 12px 17px;
  font-size: 14px;
  height: 40px;
  min-width: 75px;
}

.button:focus,
.button-small:focus,
.button-large:focus {
  outline: 0;
}

.button:hover,
.button-small:hover,
.button-large:hover {
  transition: all 0.2s;
}

.button:disabled,
.button-small:disabled,
.button-large:disabled {
  opacity: 0.5;
}

.button:hover,
.button-small:hover,
.button-large:hover,
.rules-table-button:hover {
  filter: brightness(85%);
}

.button:active,
.button-small:active,
.button-large:active,
.rules-table-button:active {
  filter: brightness(75%);
}

/* basic button (blue) */
.button-basic {
  background-color: var(--base-color);
  color: #ffffff;
}

/* success button (green) */
.button-success {
  background-color: var(--success-color);
  color: #ffffff;
}

/* fail button (red) */
.button-fail {
  background-color: var(--fail-color);
  color: #ffffff;
}

/* warning button (yellow) */
.button-warning {
  background-color: var(--warning-color);
  color: #ffffff;
}

.scroll-top-button {
  position: fixed;
  height: 50px;
  bottom: 5px;
  right: 5px;
  opacity: 0.5;
  background: none;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  z-index: 999;
  -webkit-transition: opacity 0.25s;
}

.scroll-top-button:hover {
  opacity: 1;
}

.rules-table-button {
  min-width: 47px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.rules-table-button:hover {
  transition: background-color 0.2s;
}
.rules-table-button:focus {
  outline: 0;
}

.rules-table-button.delete {
  background-color: var(--fail-color);
}

.rules-table-button.edit {
  background-color: var(--base-color);
}

.rules-table-button.on {
  background-color: var(--success-color);
}

.rules-table-button.off {
  background-color: var(--fail-color);
}
