/* react-table styles */
.ReactTable .rt-tbody .rt-td {
  text-align: center;
  font-size: 12px;
}

.user-rules-table-query-string {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-rules-table-query-string pre {
  font-size: 11px;
}
