/* react-table styles */
.ReactTable .rt-tbody .rt-td {
  text-align: center;
  font-size: 12px;
}

.user-rules-table-query-string {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-rules-table-query-string pre {
  font-size: 11px;
}

.ReactTable .-pagination {
  justify-content: center;
  box-shadow: none;
}

.ReactTable .-pagination .-center {
  flex: none;
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next {
  flex: 0;
}

.ReactTable .-pagination .-btn {
  width: 85px;
}
