@import "../../scss/constants.scss";

.figaro-data-component {
  padding: 15px;
  margin: 20px;
  border: 1px solid $dark-theme-light;
}

.tosca-data-view-link {
  &:hover {
    text-decoration: underline;
  }
}

.__theme-dark {
  .figaro-data-component {
    background-color: $dark-theme-alt;
    color: $dark-theme-color;
  }
}
