@import "../../scss/constants.scss";

.figaro-data-component {
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid $light-theme-title;
  word-break: break-all;
}

.figaro-traceback {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  white-space: pre-line;
  padding: 5px 0px 10px 0px;
}

a {
  &.figaro-id-link {
    font-size: 16px !important;
  }

  &.figaro-data-view-link {
    cursor: pointer;
    text-decoration: underline;
  }

  &.figaro-staged-product-link {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    padding: 0 7px;
  }

  &:hover {
    text-decoration: none;
  }
}

.__theme-dark {
  .figaro-data-component {
    background-color: $dark-theme-alt;
    color: $dark-theme-color;
    border: 1px solid $dark-theme-light;
  }
}
