@import "../../scss/constants.scss";

.header-bar {
  z-index: 10000;
  position: fixed;
  height: 47px;
  width: 100%;
  color: #ffffff;

  ul {
    background-color: #4288ff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
}

.header-bar {
  li {
    float: left;

    a {
      display: flex;
      flex: 1;
      text-align: center;
      text-decoration: none;
      color: white;
      padding: 14px 16px;
    }
  }
}

.header-bar-title {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #4288ff;
}

.header-bar-link {
  &.active-link {
    background-color: #1c5bca;
  }
}

.header-bar-buffer {
  flex: 1;
}

.__theme-dark {
  .header-bar-link-wrapper {
    background-color: $dark-theme-alt;
    color: $dark-theme-color;
  }

  .header-bar-title {
    background-color: $dark-theme-alt;
    color: $dark-theme-color;
  }

  .header-bar-link {
    &.active-link {
      background-color: $dark-theme-light;
    }
  }
}
