@import "../../scss/constants.scss";

.results-display-options {
  display: flex;
  margin: 15px;
}

.results-display-buffer {
  flex: 1;
}

.reactivesearch-results-list {
  a {
    font-size: 13px;
    &.active {
      background-color: #2096f3 !important;
    }
  }
}

.figaro-result-stats {
  margin: 0 auto;
  padding: 15px;
}

.__theme-light {
  .figaro-result-stats {
    color: $light-theme-color;
  }
}

.__theme-dark {
  .results-display-options {
    color: $dark-theme-color;

    select {
      background-color: $dark-theme-alt;
      color: $dark-theme-color;
    }
  }

  .figaro-result-stats {
    color: $dark-theme-color;
  }

  .reactivesearch-results-list {
    a {
      background-color: $dark-theme-alt;
      color: $dark-theme-color;

      &.active {
        background-color: #2096f3 !important;
        color: #ffffff;
      }
    }

    p {
      color: $dark-theme-color;
    }
  }
}
