@import "../../scss/constants.scss";

.tosca-data-viewer {
  border: 1px solid black;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid $light-theme-title;
}

.__theme-dark {
  .tosca-data-viewer {
    border-color: $dark-theme-light;
    background-color: $dark-theme-alt;
    color: $dark-theme-color;
    border: 1px solid $dark-theme-light;
  }

  .tosca-metadata-preview {
    background-color: $dark-theme-alt !important;
  }
}

a {
  &.tosca-metadata-link {
    padding: 0px 7px;
  }

  &.tosca-browse-link {
    padding-right: 7px;
  }
}

.tosca-metadata-preview {
  overflow: scroll;
  font-size: 11px;
  padding: 10px;
}
