/* Border */
.job-param-border {
  border: 1px solid #000000b0;
  margin-top: 35px;
  margin-bottom: 35px;
}

/* Status Bar */
.job-submit-status-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #ffffff;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.job-submit-status-bar-label {
  font-size: 35px;
}

.job-submit-status-bar-sublabel {
  font-size: 17px;
}

.success {
  background: #19b519;
}

.failed {
  background: red;
}

.status-hidden {
  opacity: 0;
  transition: all 400ms linear;
  z-index: -999;
}

.status-visible {
  z-index: 999;
}

.helper-link {
  width: 21px;
  height: 21px;
  font-size: 8px;
  text-align: center;
  padding: 5px;
  border: 1px solid #4387ff;
  color: #4386ff;
  border-radius: 50%;
  margin-right: 10px;
}

/******************************/
/* TOGGLE SLIDER STYLING */
.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.table-toggle-wrapper {
  margin-top: 2px;
}

.table-toggle-label {
  position: relative;
  top: 2px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/******************************/

.miscellaneous-checkbox {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
}
