@import "../../scss/constants.scss";

.figaro-job-count-banner {
  margin: 15px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.figaro-job-count {
  flex: 0 1 10em;
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin: 10px 5px 10px 5px;
  border-radius: 5px;
}

.job-count {
  color: #ffff;
  cursor: pointer;
  &:hover {
    transition: background-color 0.2s;
  }
  &.total {
    color: $light-theme-color;
  }
  &.completed {
    background-color: $base-color;
    &:hover {
      background-color: darken($color: $base-color, $amount: $hover-percent);
    }
  }
  &.started {
    background-color: $success-color;
    &:hover {
      background-color: darken($color: $success-color, $amount: $hover-percent);
    }
  }
  &.queued {
    background-color: #49afcd;
    &:hover {
      background-color: darken($color: #49afcd, $amount: $hover-percent);
    }
  }
  &.failed {
    background-color: $fail-color;
    &:hover {
      background-color: darken($color: $fail-color, $amount: $hover-percent);
    }
  }
  &.revoked {
    background-color: $warning-color;
    &:hover {
      background-color: darken($color: $warning-color, $amount: $hover-percent);
    }
  }
  &.deduped {
    background-color: #dd33ff;
    &:hover {
      background-color: darken($color: #dd33ff, $amount: $hover-percent);
    }
  }
  &.offline {
    background-color: #363636;
    &:hover {
      background-color: darken($color: #363636, $amount: $hover-percent);
    }
  }
}

.__theme-dark {
  .figaro-job-count {
    color: $dark-theme-color;
  }
}

.__theme-light {
  .job-count {
    &.total {
      background-color: $light-theme-alt;
    }
  }
}
