body {
  font-family: "Oswald", sans-serif !important;
}

.tosca-user-rule-editor {
  display: flex;
  padding-top: 47px;
  height: calc(100vh - 47px);
}

/* Control the left side */
.user-rule-editor-left {
  flex: 1;
  overflow: auto;
}

/* Control the right side */
.user-rule-editor-right {
  flex: 1;
  overflow: auto;
}

.user-rule-editor-right-wrapper {
  padding: 10px;
}

.data-count-header {
  font-size: 25px;
  padding: 15px;
}

.user-rule-buttons-wrapper {
  padding: 5px;
  display: flex;
}

.user-rule-button {
  margin: 5px;
}

@media (max-width: 950px) {
  .tosca-user-rule-editor {
    display: block;
    overflow: auto;
  }

  .user-rule-editor-right-wrapper {
    padding: 25px;
  }
}
