body {
  font-family: "Oswald", sans-serif !important;
}

.tosca-user-rule-editor {
  display: flex;
  padding-top: 47px;
  height: calc(100vh - 47px);
}

/* Control the left side */
.user-rule-editor-left {
  flex: 1;
  overflow: auto;
}

/* Control the right side */
.user-rule-editor-right {
  flex: 1;
  overflow: auto;
}

.user-rule-editor-right-wrapper {
  padding: 10px;
}

.user-rule-editor-button-wrapper {
  padding: 10px;
}

.user-rule-editor-submission-type {
  padding-left: 10px;
  border: none;
  font-size: 15px;
}

.user-rule-editor-submission-type:focus {
  outline: 0;
}

.data-count-header {
  font-size: 25px;
  padding: 15px;
}

.user-rules-editor-cancel-button {
  width: 75px;
  padding: 10px;
  background: #dc3545;
  color: #ffff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}
.user-rules-editor-cancel-button:active {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.user-rules-editor-cancel-button-wrapper {
  padding: 10px;
}

.user-rule-buttons-wrapper {
  display: flex;
}

@media (max-width: 950px) {
  .tosca-user-rule-editor {
    display: block;
    overflow: auto;
  }

  .user-rule-editor-right-wrapper {
    padding: 25px;
  }
}
