@import "../../scss/constants.scss";

/****************************************************/ /* MAIN BODY */
.tosca-body {
  padding: 0px 20px;
  padding-bottom: 50px;
  min-width: 800px;
  flex: 1;
  overflow: auto;
}

.tosca-page-wrapper {
  display: flex;
  padding-top: 44px;
  height: 100vh;
}

/****************************************************/
/* SIDEBAR */
.tosca-sidenav {
  flex: 0;
  min-width: 320px;
  z-index: 1;
  padding: 20px;
  background-color: #ffff;
  border-right: solid 1px #0000004d;
  overflow: auto;
}

.sidenav-title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
}

li.active:hover {
  background-color: transparent !important;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  height: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

/****************************************************/
/* TOP BAR: query string, on demand and trigger rules */
input:focus {
  outline: none;
}

.top-bar-wrapper {
  margin: 0 auto;
  display: flex;
  width: 95%;
  align-items: center;
  min-width: 500px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.filter-list-wrapper {
  margin-bottom: 20px;

  > div {
    > a span:last-child {
      border-left: none;
    }
  }
}

.on-demand-button:hover {
  transition: background-color 0.4s ease-out;
  background-color: #0a45a4;
}

.button-wrapper {
  display: flex;
}

.tosca-button {
  padding: 0px 7px;
}

.__theme-dark {
  // transition: background-color 0.5s;
  &.tosca-body {
    background-color: $dark-theme-background;
    color: $dark-theme-color;
  }
  &.tosca-sidenav {
    background-color: $dark-theme-alt;
    color: $dark-theme-color;
  }
}
