.main-container {
  /* padding: 25px; */
}

.scroll-top-button {
  position: fixed;
  height: 50px;
  /* bottom: 0px; */
  right: 0px;
  opacity: 0.5;
  background: none;
  border: none;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  z-index: 999;
  -webkit-transition: opacity 0.25s;
}

.scroll-top-button:hover {
  opacity: 1;
}

.sidenav {
  height: 100%;
  min-width: 320px;
  /* width: 20%; */
  position: fixed;
  float: left;
  z-index: 1;
  padding: 20px;
  /* overflow: scroll; */
  overflow-y: scroll;
  background-color: #FFFF;
  border-right: solid 1px #0000004d;
}

.facet-container {
  min-height: 101%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  height: 100%;
}

.body {
  margin-left: 355px;
  margin-top: 25px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
  min-width: 750px;
  /* width: 80%; */
  /* float: right; */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    /* font-size: 18px; */
  }
}

.utility-button-container {
  text-align: center;
}

.utility-button {
  background-color: #4288ff;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 25px;
}

.on-demand-button:hover {
  transition: background-color 0.4s ease-out;
  background-color: #0a45a4;
}

.reactivesearch-input input {
  height: 37px;
}

.DayPickerInput input {
  font-size: 0.9em !important;
}