$dark-theme-background: #1e1e1e;
$dark-theme-alt: #272727;
$dark-theme-light: #434343;
$dark-theme-color: #c5c5c5;
$dark-theme-border: #303030;
$dark-theme-title: #9b9b9b;

$light-theme-background: #ffff;
$light-theme-alt: #ffff;
$light-theme-color: #424242;
$light-theme-border: #303030;
$light-theme-title: #9b9b9b;

$base-color: #4387ff;
$success-color: #5cb85c;
$fail-color: #dc3545;
$warning-color: #ffc107;

$hover-percent: 15%;
$active-percent: 25%
