body {
  font-family: "Oswald", sans-serif !important;
}

.tosca-on-demand {
  display: flex;
  padding-top: 47px;
  height: calc(100vh - 47px);
}

/* Control the left and right side */
.on-demand-left,
.on-demand-right {
  flex: 1;
  overflow: auto;
}

.tosca-on-demand-button-wrapper {
  display: flex;
  padding: 10px;
}

.tosca-on-demand-button {
  margin: 5px;
}

.on-demand-submission-type {
  padding-left: 10px;
  border: none;
  font-size: 15px;
}

.on-demand-submission-type:focus {
  outline: 0;
}

.data-count-header {
  font-size: 25px;
  padding: 15px;
}

@media (max-width: 950px) {
  .tosca-on-demand {
    padding-top: 47px;
    display: block;
    overflow: auto;
  }

  .on-demand-right {
    padding: 5px;
  }
}
