body {
  font-family: "Oswald", sans-serif !important;
}

.tosca-on-demand {
  display: flex;
}

/* Split the screen in half */
.split {
  height: 100vh;
}

@media (max-width: 950px) {
  .tosca-on-demand {
    display: block;
    overflow: auto;
    height: 100vh;
  }

  .split {
    height: auto;
  }
}

/* Control the left side */
.on-demand-left {
  flex: 1;
  overflow: auto;
}

/* Control the right side */
.on-demand-right {
  flex: 1;
  overflow: auto;
}

.on-demand-button-wrapper {
  padding: 10px;
}

.data-count-header {
  font-size: 25px;
  padding: 15px;
}
