/* required styles for leaflet */
h1,
h2,
p {
  text-align: center;
}

.map-container {
  margin-bottom: 15px;
}

.leaflet-container {
  /* height: 700px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px; */
}

.map-coordinates-textbox {
  min-width: 80%;
  max-width: 80%;
  border: 1px solid #b2b2b2;
  display: block;
  font-size: 0.85em;
  margin: 0 auto;
  min-height: 80px;
}

.leaflet-tooltip {
  white-space: normal;
}

.leaflet-popup-content {
  word-break: break-word;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: none;
}

/* .leaflet-overlay-pane {
  z-index: 600;
} */

/* .leaflet-shadow-pane {
  z-index: 4;
} */